target
.settings
.project
.classpath
.idea
*.iml
!.settings/.jsdtscope
deployments
.dcp_data
test.*
unit-testing-jpa.*
/ftest.sh
*.md.html
# Ignore all output.txt files produced by init scripts.
output.txt
