HOST: http://dcp.jboss.org/v1

--- Distributed Contribution Platform API v1 ---
---
# Overview

**Distributed Contribution Platform** provides **Rest API** for data manipulation and search.

# DCP Content object

This is main content object which can be pushed/retrieved or searched.
 
DCP Content object is JSON document with free structure. There is no restriction how many key value pairs must be defined or in which structure.
However this document is during push to DCP and reindex normalized and internal DCP data are added. Those data are prefixed by dcp_.
 
DCP Content described by example:

    {
        Free JSON Structure repsesenting content. Can be one key value pair or something more structured.
        It's defined only by source provider.

        "tags": ["Content tag1", "tag2", "tag2"],

        "dcp_content_id": "Any value from content provider",
        "dcp_content_typev: "Source provider type like 'issue'"
        "dcp_content_provider": "Name of content provider like JIRA River"


        "dcp_id": "internal_id"
        "dcp_title": "Content Title"
        "dcp_url_view": "URL representing content view"
        "dcp_description": "Short description used by search GUI"
        "dcp_type": "Normalized internal type of content"
        "dcp_updated": "Timestamp of last update"
        "dcp_project": "Normalized internal project"
        "dcp_contributors": ["Firstname Lastname <e-mail>", "Firstname Lastname <e-mail>"]
        "dcp_activity_dates": [Timestamp1, Timestamp2]
        "dcp_tags": ["Tags constructed from 'tags' tag and user tags from persistance storage"]
    }

All DCP Internal data are set during push and reindex except these which can be defined during data push:

* `dcp_title`
* `dcp_url_view`
* `dcp_description`

---

--
Authentication
Distinct operations needs to be authenticated. Content provider provides credintials by URL parameters provider and password or via standard HTTP Basic authentication.
If authentication is not successfull then standard forbidden http code is returned.
--

--
Content
--
Return Document JSON data
GET /rest/content/{type}/{id}
< 200
< Content-Type: application/json
{ "foo": "bar" }

All content for specified type.
GET /rest/content/{type}
< 200
< Content-Type: application/json
{
    "total": "count of returned values",
    "hits": [
        {
           "id": "internal dcp id of document"
           "data": "document content"
         }
    ]
}

JSON document in http body which is pushed to DCP.

Http body empty
POST /rest/content/{type}/{id}
< 200
< Content-Type: application/json
{ "foo": "bar" }

Document deleted
DELETE /rest/content/{type}/{id}
< 200


--
Search
--
Search contributions.
GET /rest/search?TODO
< 200
{ "foo": "bar" }


--
Suggestions
--
Get suggestions for user query.

Returned JSON contains two parts:

- `view`
- `model`

#### view

The `view` represents the visual part of query suggestions.

It *always* contains section `search` which will *always* have only one option matching incoming user query.

It can then contain one or more additional sections (like `suggestions`, `filters`, `mails`, ... etc.). 

#### model

The `model` represents possible "actions" that are relevant to individual `option`s in the `view` part.
This means both `view` and `model` parts have the same highlevel structure and each `option`
in the `view` part have corresponding "action" in the `model` part.

Individual actions are described using symbolic commands. Interpretation of these commands is up to the client
the following is just a recommendation about how client can interpret the commands:

##### Commands:

`search` - execute search for `query` value.

`suggestion` - replace text in the search field with the `value`'s value.

`filter` - replace current filters with provided filters.

`filter_add` - enable provided filters (on top of currently active filters).

... more TDB.


GET /rest/suggestions/query_string?q={user_query_string}
< 200
< Access-Control-Allow-Origin: *
{
    "view": {
        "search": {
            "caption": "Search",
            "options": ["${query_string}"]
        },
        "suggestions": {
            "caption": "Query Completions",
            "options": [
                "option #1",
                "option #2",
                "..."
            ]
        },
        "filters": {
            "caption": "Filters",
            "options": [
                "option #1",
                "option #2",
                "..."
            ]
        },
        "mails": {
            "caption": "Mails",
            "options": [
                "option #1",
                "option #2",
                "..."
            ]
        }
    },
    "model" : {
        "search": { 
            "search": { "query": "${query_string}" }
        },
        "suggestions" : [
            { "action #1": {} },
            { "action #2": {} },
            { }
        ],
        "filters": [
            { "action #1": {} },
            { "action #2": {} },
            { }
        ],
        "mails": [
            { "action #1": {} },
            { "action #2": {} },
            { }
        ]
    }
}


Example for user query 'Hiberna'.
GET /rest/suggestions/query_string?q=Hiberna
< 200
< Access-Control-Allow-Origin: *
{
    "view": {
        "search": {
            "caption": "Search",
            "options": ["Hiberna"]
        },
        "suggestions": {
            "caption": "Query Completions",
            "options": [
                "<strong>Hiberna</strong>te",
                "<strong>Hiberna</strong>te query",
                "<strong>Hiberna</strong>te session"
            ]
        },
        "filters": {
            "caption": "Filters",
            "options": [
                "<strong>Add</strong> project filter for <strong>Hibernate</strong>",
                "<strong>Add</strong> project filter for <strong>Infinispan</strong>",
                "<strong>Search</strong> project <strong>Hibernate</strong> only"
            ]
        },
        "mails": {
            "caption": "Mails",
            "options": [
                "<strong>Add</strong> some Mails filter",
                "Do some other fancy thing here",
                "Or do something else"
            ]
        }
    },
    "model" : {
        "search": { "search": { "query": "Hiberna" } },
        "suggestions" : [
            { "suggestion": { "value": "Hibernate" },         "search": { "query": "Hibernate" } },
            { "suggestion": { "value": "Hibernate query" },   "search": { "query": "Hibernate query" } },
            { "suggestion": { "value": "Hibernate session" }, "search": { "query": "Hibernate session" } }
        ],
        "filters": [
            { "filter_add": [ "Hibernate" ] },
            { "filter_add": [ "Infinispan" ] },
            { "filter": [ "Hibernate" ] }
        ],
        "mails": [
            { "filter_add": [ "foo" ] },
            {},
            {}
        ]
    }
}


