%define  _deploy_dir /services/searchisko

Name:           searchisko-api
Version:        0.9.0
Release:        6.el6
Summary:        Searchisko API

Group:          System Environment/Daemons
License:        Apache License, Version 2.0
URL:            http://dcp.jboss.org


BuildRoot:      %{_tmppath}/%{name}-%{version}.%{release}-root-%(%{__id_u} -n)
BuildArch:      noarch

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.startswith('api') and $artifact.endswith('.war')
Source0: $artifact
  #end if
#end for

Requires(post): chkconfig
Requires(preun): chkconfig
# This is for /sbin/service
Requires(preun): initscripts

%description
Searchisko API

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_deploy_dir}/%{name}.war
unzip -d %{buildroot}%{_deploy_dir}/%{name}.war %{SOURCE0}

%clean
rm -rf %{buildroot}

%files
%defattr(-,jboss,jboss,-)
%{_deploy_dir}


%changelog
* Mon Mar 17 2014 Lukas Vlcek <lvlcek at, redhat.com> 0.9.0
- Make puppet variables aligned with eng-ops requirements

* Fri Mar 14 2014 Lukas Vlcek <lvlcek at, redhat.com> 0.9.0
- Improved CORS support (including credentials)
- Update documentation and add content rating tutorial
- Introduce more placeholders into profile configuration

* Mon Mar 3 2014 Lukas Vlcek <lvlcek at, redhat.com> 0.9.0
- Allow provider.createInitData in production profile

* Thu Feb 27 2014 Lukas Vlcek <lvlcek at, redhat.com> 0.9.0
- change production profile settings placeholders

* Tue Feb 25 2014 Lukas Vlcek <lvlcek at, redhat.com> 0.9.0
- Production profile configuration
- unzip war (we want explode application)

* Fri Feb 21 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 0.9.0
- Initial beta release